* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Agency FB", arial;
}
h1 {
  cursor: default;
}
h2 {
  cursor: default;
}
h3 {
  cursor: default;
}
h4 {
  cursor: default;
}
h5 {
  cursor: default;
}
h6 {
  cursor: default;
}
p {
  cursor: default;
}
a {
  cursor: pointer;
  text-decoration: none;
}

@media (min-width: 0px) and (max-width: 320px) {
  nav {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.644);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    z-index: 999;
  }
  nav img {
    height: 95%;
    margin: 0 0 0 25px;
  }
  #listNav {
    display: none;
    margin: 0 25px 0 0;
  }
  #listNav a {
    color: white;
    padding: 25% 15px;
    font-size: 22px;
    transition: 0.2s ease-in-out;
  }
  #listNav a:hover {
    background-color: rgba(218, 165, 32, 0.8);
    transition: 0.2s ease-in-out;
  }
  #btnMenu {
    display: flex;
    margin: 0 25px 0 0;
    font-size: 28px;
    background-color: transparent;
    color: white;
    border: none;
  }
  #btnMenu:hover {
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
    transition: 0.2s ease-in-out;
  }
  #listNavMovil {
    position: fixed;
    top: 75px;
    right: 0px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.644);
    width: 220px;
    display: none;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  #listNavMovil a {
    color: white;
    padding: 15px 25%;
    font-size: 22px;
    transition: 0.2s ease-in-out;
  }
  #listNavMovil a:hover {
    background-color: rgba(218, 165, 32, 0.8);
    transition: 0.2s ease-in-out;
  }
  header {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: absolute;
    background-color: black;
  }
  #fondoHead {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
  }
  #logoHead {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #logoHead img {
    width: 300px;
  }
  main {
    width: 100%;
    overflow: hidden;
    height: 4850px;
    background-color: rgb(228, 228, 228);
    position: absolute;
    top: 600px;
  }
  #sectionWeb {
    width: 100%;
    height: 1400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0 0;
  }
  #sectionWeb h2 {
    color: black;
    font-size: 30px;
  }
  #sectionWeb p {
    color: black;
    font-size: 14px;
    text-align: center;
  }
  #cajaPaso {
    margin: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-row: auto;
    justify-content: center;
  }
  .cardsPasos {
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cardsPasos img {
    width: 50%;
  }
  #paso1 {
    font-size: 26px !important;
    margin: 15px 0 0 0;
    color: goldenrod !important;
  }
  #paso2 {
    font-size: 26px !important;
    margin: 15px 0 0 0;
    color: #128c7e !important;
  }
  #paso3 {
    font-size: 26px !important;
    margin: 15px 0 0 0;
  }
  .cardsPasos p {
    margin: 15px 0 0 0;
    font-size: 22px !important;
  }
  #sectionProductos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #sectionProductos h2 {
    font-size: 45px;
  }
  #cajaProductos {
    margin: 50px 0 0 0;
    width: 100%;
    height: 2000px;
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-row: auto;
    justify-content: center;
    overflow: hidden;
  }
  .cardsProductos {
    width: 300px;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.644);
  }
  .cardsProductos img {
    width: 100%;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0 0 5px 0;
  }
  .cardsProductos button {
    padding: 5px 50px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid black;
    font-weight: bold;
    background-color: transparent;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
  .cardsProductos button:hover {
    background-color: rgba(218, 165, 32, 0.8);
    transition: 0.2s ease-in-out;
  }

  #comoRealizo {
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/359/815/642/herramientas-trabajo-utensilios-wallpaper-preview.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  #subRealizo {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #subRealizo h2 {
    color: white;
    font-size: 32px;
    margin: 0 0 50px 0;
  }
  #subRealizo p {
    color: white;
    font-size: 18px;
  }
  #subRealizo button {
    padding: 5px 50px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 24px;
    margin: 50px 0 0 0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  #subRealizo button:hover {
    background-color: white;
    color: black;
    transition: 0.2s ease-in-out;
  }

  #contacto {
    width: 100%;
    height: 700px;
    overflow: hidden;
  }
  #contacto img {
    width: 100%;
    height: 100%;
    filter: blur(1.4px);
  }
  #overlayContact {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
    top: -705px;
    opacity: 50%;
  }
  #contacto h2 {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 35px;
    margin: 45px 0 0 0;
    color: white;
    position: relative;
    top: -1400px;
  }
  #contenedorForm {
    width: 100%;
    height: 300px;
    position: relative;
    top: -1350px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #form {
    display: flex;
    flex-direction: column;
  }
  #from_name {
    width: 300px;
    height: 28px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px 0;
  }
  #email_id {
    width: 300px;
    height: 28px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px 0;
  }
  #from_models {
    width: 150px;
    height: 28px;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px 0;
    align-self: center;
  }
  #from_message {
    width: 300px;
    height: 150px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px 0;
    resize: none;
  }
  #btnForm {
    display: flex;
    justify-content: center;
  }
  #btnForm button {
    padding: 5px 15px;
    margin: 0 15px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  #btnForm button:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: 0.2s ease-in-out;
  }
  #btnForm input {
    padding: 5px 15px;
    margin: 0 15px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  #btnForm input:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: 0.2s ease-in-out;
  }
  #contenedorIcons {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -1250px;
  }
  #contenedorIcons a {
    color: white;
    font-size: 22px;
    margin: 0 10px;
    transition: 0.2s ease-in-out;
  }
  #copy {
    color: white;
    position: relative;
    top: -1215px;
    width: 100%;
    text-align: center;
    opacity: 50%;
  }
  #btnWSP {
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 25px;
    right: 25px;
    font-size: 65px;
    background-color: transparent;
    border: none;
    color: white;
    transition: 0.2s ease-in-out;
  }
  #btnWSP:hover {
    color: #128c7e;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
    transition: 0.2s ease-in-out;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  nav {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.644);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    z-index: 999;
  }
  nav img {
    height: 95%;
    margin: 0 0 0 25px;
  }
  #listNav {
    display: none;
    margin: 0 25px 0 0;
  }
  #listNav a {
    color: white;
    padding: 25% 15px;
    font-size: 22px;
    transition: 0.2s ease-in-out;
  }
  #listNav a:hover {
    background-color: rgba(218, 165, 32, 0.8);
    transition: 0.2s ease-in-out;
  }
  #btnMenu {
    display: flex;
    margin: 0 25px 0 0;
    font-size: 28px;
    background-color: transparent;
    color: white;
    border: none;
  }
  #btnMenu:hover {
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
    transition: 0.2s ease-in-out;
  }
  #listNavMovil {
    position: fixed;
    top: 75px;
    right: 0px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.644);
    width: 220px;
    display: none;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  #listNavMovil a {
    color: white;
    padding: 15px 25%;
    font-size: 22px;
    transition: 0.2s ease-in-out;
  }
  #listNavMovil a:hover {
    background-color: rgba(218, 165, 32, 0.8);
    transition: 0.2s ease-in-out;
  }
  header {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: absolute;
    background-color: black;
  }
  #fondoHead {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
  }
  #logoHead {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #logoHead img {
    width: 300px;
  }
  main {
    width: 100%;
    overflow: hidden;
    height: 4850px;
    background-color: rgb(228, 228, 228);
    position: absolute;
    top: 600px;
  }
  #sectionWeb {
    width: 100%;
    height: 1400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0 0;
  }
  #sectionWeb h2 {
    color: black;
    font-size: 35px;
  }
  #sectionWeb p {
    color: black;
    font-size: 18px;
    text-align: center;
  }
  #cajaPaso {
    margin: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-row: auto;
    justify-content: center;
  }
  .cardsPasos {
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cardsPasos img {
    width: 50%;
  }
  #paso1 {
    font-size: 26px !important;
    margin: 15px 0 0 0;
    color: goldenrod !important;
  }
  #paso2 {
    font-size: 26px !important;
    margin: 15px 0 0 0;
    color: #128c7e !important;
  }
  #paso3 {
    font-size: 26px !important;
    margin: 15px 0 0 0;
  }
  .cardsPasos p {
    margin: 15px 0 0 0;
    font-size: 22px !important;
  }
  #sectionProductos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #sectionProductos h2 {
    font-size: 45px;
  }
  #cajaProductos {
    margin: 50px 0 0 0;
    width: 100%;
    height: 2000px;
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-row: auto;
    justify-content: center;
    overflow: hidden;
  }
  .cardsProductos {
    width: 300px;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.644);
  }
  .cardsProductos img {
    width: 100%;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0 0 5px 0;
  }
  .cardsProductos button {
    padding: 5px 50px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid black;
    font-weight: bold;
    background-color: transparent;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
  .cardsProductos button:hover {
    background-color: rgba(218, 165, 32, 0.8);
    transition: 0.2s ease-in-out;
  }

  #comoRealizo {
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/359/815/642/herramientas-trabajo-utensilios-wallpaper-preview.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  #subRealizo {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #subRealizo h2 {
    color: white;
    font-size: 32px;
    margin: 0 0 50px 0;
  }
  #subRealizo p {
    color: white;
    font-size: 28px;
  }
  #subRealizo button {
    padding: 5px 50px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 24px;
    margin: 50px 0 0 0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  #subRealizo button:hover {
    background-color: white;
    color: black;
    transition: 0.2s ease-in-out;
  }

  #contacto {
    width: 100%;
    height: 700px;
    overflow: hidden;
  }
  #contacto img {
    width: 100%;
    height: 100%;
    filter: blur(1.4px);
  }
  #overlayContact {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
    top: -705px;
    opacity: 50%;
  }
  #contacto h2 {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 50px;
    margin: 45px 0 0 0;
    color: white;
    position: relative;
    top: -1400px;
  }
  #contenedorForm {
    width: 100%;
    height: 300px;
    position: relative;
    top: -1350px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #form {
    display: flex;
    flex-direction: column;
  }
  #from_name {
    width: 300px;
    height: 28px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px 0;
  }
  #email_id {
    width: 300px;
    height: 28px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px 0;
  }
  #from_models {
    width: 150px;
    height: 28px;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px 0;
    align-self: center;
  }
  #from_message {
    width: 300px;
    height: 150px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px 0;
    resize: none;
  }
  #btnForm {
    display: flex;
    justify-content: center;
  }
  #btnForm button {
    padding: 5px 15px;
    margin: 0 15px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  #btnForm button:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: 0.2s ease-in-out;
  }
  #btnForm input {
    padding: 5px 15px;
    margin: 0 15px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  #btnForm input:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: 0.2s ease-in-out;
  }
  #contenedorIcons {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -1250px;
  }
  #contenedorIcons a {
    color: white;
    font-size: 22px;
    margin: 0 10px;
    transition: 0.2s ease-in-out;
  }
  #copy {
    color: white;
    position: relative;
    top: -1215px;
    width: 100%;
    text-align: center;
    opacity: 50%;
  }
  #btnWSP {
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 25px;
    right: 25px;
    font-size: 65px;
    background-color: transparent;
    border: none;
    color: white;
    transition: 0.2s ease-in-out;
  }
  #btnWSP:hover {
    color: #128c7e;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
    transition: 0.2s ease-in-out;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  nav {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.644);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    z-index: 999;
  }
  nav img {
    height: 95%;
    margin: 0 0 0 25px;
  }
  #listNav {
    display: none;
    margin: 0 25px 0 0;
  }
  #listNav a {
    color: white;
    padding: 25% 15px;
    font-size: 22px;
    transition: 0.2s ease-in-out;
  }
  #listNav a:hover {
    background-color: rgba(218, 165, 32, 0.8);
    transition: 0.2s ease-in-out;
  }
  #btnMenu {
    display: flex;
    margin: 0 25px 0 0;
    font-size: 28px;
    background-color: transparent;
    color: white;
    border: none;
  }
  #btnMenu:hover {
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
    transition: 0.2s ease-in-out;
  }
  #listNavMovil {
    position: fixed;
    top: 75px;
    right: 0px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.644);
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  #listNavMovil a {
    color: white;
    padding: 15px 25%;
    font-size: 14px;
    transition: 0.2s ease-in-out;
  }
  #listNavMovil a:hover {
    background-color: rgba(218, 165, 32, 0.8);
    transition: 0.2s ease-in-out;
  }
  header {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: absolute;
    background-color: black;
  }
  #fondoHead {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
  }
  #logoHead {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #logoHead img {
    width: 300px;
  }
  main {
    width: 100%;
    overflow: hidden;
    height: 4850px;
    background-color: rgb(228, 228, 228);
    position: absolute;
    top: 600px;
  }
  #sectionWeb {
    width: 100%;
    height: 1400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0 0;
  }
  #sectionWeb h2 {
    color: black;
    font-size: 32px;
  }
  #sectionWeb p {
    color: black;
    font-size: 16px;
    text-align: center;
  }
  #cajaPaso {
    margin: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-row: auto;
    justify-content: center;
  }
  .cardsPasos {
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cardsPasos img {
    width: 50%;
  }
  #paso1 {
    font-size: 26px !important;
    margin: 15px 0 0 0;
    color: goldenrod !important;
  }
  #paso2 {
    font-size: 26px !important;
    margin: 15px 0 0 0;
    color: #128c7e !important;
  }
  #paso3 {
    font-size: 26px !important;
    margin: 15px 0 0 0;
  }
  .cardsPasos p {
    margin: 15px 0 0 0;
    font-size: 22px !important;
  }
  #sectionProductos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #sectionProductos h2 {
    font-size: 45px;
  }
  #cajaProductos {
    margin: 50px 0 0 0;
    width: 100%;
    height: 2000px;
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-row: auto;
    justify-content: center;
    overflow: hidden;
  }
  .cardsProductos {
    width: 300px;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.644);
  }
  .cardsProductos img {
    width: 100%;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0 0 5px 0;
  }
  .cardsProductos button {
    padding: 5px 50px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid black;
    font-weight: bold;
    background-color: transparent;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
  .cardsProductos h2 {
    font-size: 26px !important;
    margin: 15px 0 0 0;
  }
  .cardsProductos button:hover {
    background-color: rgba(218, 165, 32, 0.8);
    transition: 0.2s ease-in-out;
  }

  #comoRealizo {
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/359/815/642/herramientas-trabajo-utensilios-wallpaper-preview.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  #subRealizo {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #subRealizo h2 {
    color: white;
    font-size: 32px;
    margin: 0 0 50px 0;
  }
  #subRealizo p {
    color: white;
    font-size: 18px;
  }
  #subRealizo button {
    padding: 5px 50px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 24px;
    margin: 50px 0 0 0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  #subRealizo button:hover {
    background-color: white;
    color: black;
    transition: 0.2s ease-in-out;
  }

  #contacto {
    width: 100%;
    height: 700px;
    overflow: hidden;
  }
  #contacto img {
    width: 100%;
    height: 100%;
    filter: blur(1.4px);
  }
  #overlayContact {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
    top: -705px;
    opacity: 50%;
  }
  #contacto h2 {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 50px;
    margin: 45px 0 0 0;
    color: white;
    position: relative;
    top: -1400px;
  }
  #contenedorForm {
    width: 100%;
    height: 300px;
    position: relative;
    top: -1350px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #form {
    display: flex;
    flex-direction: column;
  }
  #from_name {
    width: 300px;
    height: 28px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px 0;
  }
  #email_id {
    width: 300px;
    height: 28px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px 0;
  }
  #from_models {
    width: 150px;
    height: 28px;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px 0;
    align-self: center;
  }
  #from_message {
    width: 300px;
    height: 150px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px 0;
    resize: none;
  }
  #btnForm {
    display: flex;
    justify-content: center;
  }
  #btnForm button {
    padding: 5px 15px;
    margin: 0 15px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  #btnForm button:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: 0.2s ease-in-out;
  }
  #btnForm input {
    padding: 5px 15px;
    margin: 0 15px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  #btnForm input:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: 0.2s ease-in-out;
  }
  #contenedorIcons {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -1250px;
  }
  #contenedorIcons a {
    color: white;
    font-size: 22px;
    margin: 0 10px;
    transition: 0.2s ease-in-out;
  }
  #copy {
    color: white;
    position: relative;
    top: -1215px;
    width: 100%;
    text-align: center;
    opacity: 50%;
  }
  #btnWSP {
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 25px;
    right: 25px;
    font-size: 65px;
    background-color: transparent;
    border: none;
    color: white;
    transition: 0.2s ease-in-out;
  }
  #btnWSP:hover {
    color: #128c7e;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
    transition: 0.2s ease-in-out;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  nav {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.644);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    z-index: 999;
  }
  nav img {
    height: 95%;
    margin: 0 0 0 25px;
  }
  #listNav {
    display: flex;
    margin: 0 25px 0 0;
  }
  #listNav a {
    color: white;
    padding: 25% 15px;
    font-size: 22px;
    transition: 0.2s ease-in-out;
  }
  #listNav a:hover {
    background-color: rgba(218, 165, 32, 0.8);
    transition: 0.2s ease-in-out;
  }
  #btnMenu {
    display: none;
  }
  #listNavMovil {
    display: none;
  }
  header {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: absolute;
    background-color: black;
  }
  #fondoHead {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
  }
  #logoHead {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #logoHead img {
    width: 500px;
  }
  main {
    width: 100%;
    overflow: hidden;
    height: 4850px;
    background-color: rgb(228, 228, 228);
    position: absolute;
    top: 600px;
  }
  #sectionWeb {
    width: 100%;
    height: 1400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0 0;
  }
  #sectionWeb h2 {
    color: black;
    font-size: 70px;
  }
  #sectionWeb p {
    color: black;
    font-size: 28px;
    text-align: center;
  }
  #cajaPaso {
    margin: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-row: auto;
    justify-content: center;
  }
  .cardsPasos {
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cardsPasos img {
    width: 50%;
  }
  #paso1 {
    font-size: 26px !important;
    margin: 15px 0 0 0;
    color: goldenrod !important;
  }
  #paso2 {
    font-size: 26px !important;
    margin: 15px 0 0 0;
    color: #128c7e !important;
  }
  #paso3 {
    font-size: 26px !important;
    margin: 15px 0 0 0;
  }
  .cardsPasos p {
    margin: 15px 0 0 0;
    font-size: 22px !important;
  }
  #sectionProductos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #sectionProductos h2 {
    font-size: 45px;
  }
  #cajaProductos {
    margin: 50px 0 0 0;
    width: 100%;
    height: 2000px;
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-row: auto;
    justify-content: center;
    overflow: hidden;
  }
  .cardsProductos {
    width: 300px;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.644);
  }
  .cardsProductos img {
    width: 100%;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0 0 5px 0;
  }
  .cardsProductos button {
    padding: 5px 50px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid black;
    font-weight: bold;
    background-color: transparent;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
  .cardsProductos button:hover {
    background-color: rgba(218, 165, 32, 0.8);
    transition: 0.2s ease-in-out;
  }

  #comoRealizo {
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/359/815/642/herramientas-trabajo-utensilios-wallpaper-preview.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  #subRealizo {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #subRealizo h2 {
    color: white;
    font-size: 45px;
    margin: 0 0 50px 0;
  }
  #subRealizo p {
    color: white;
    font-size: 28px;
  }
  #subRealizo button {
    padding: 5px 50px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 24px;
    margin: 50px 0 0 0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  #subRealizo button:hover {
    background-color: white;
    color: black;
    transition: 0.2s ease-in-out;
  }

  #contacto {
    width: 100%;
    height: 700px;
    overflow: hidden;
  }
  #contacto img {
    width: 100%;
    height: 100%;
    filter: blur(1.4px);
  }
  #overlayContact {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
    top: -705px;
    opacity: 50%;
  }
  #contacto h2 {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 50px;
    margin: 45px 0 0 0;
    color: white;
    position: relative;
    top: -1400px;
  }
  #contenedorForm {
    width: 100%;
    height: 300px;
    position: relative;
    top: -1350px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #form {
    display: flex;
    flex-direction: column;
  }
  #from_name {
    width: 300px;
    height: 28px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px 0;
  }
  #email_id {
    width: 300px;
    height: 28px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px 0;
  }
  #from_models {
    width: 150px;
    height: 28px;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px 0;
    align-self: center;
  }
  #from_message {
    width: 300px;
    height: 150px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px 0;
    resize: none;
  }
  #btnForm {
    display: flex;
    justify-content: center;
  }
  #btnForm button {
    padding: 5px 15px;
    margin: 0 15px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  #btnForm button:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: 0.2s ease-in-out;
  }
  #btnForm input {
    padding: 5px 15px;
    margin: 0 15px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  #btnForm input:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: 0.2s ease-in-out;
  }
  #contenedorIcons {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -1250px;
  }
  #contenedorIcons a {
    color: white;
    font-size: 22px;
    margin: 0 10px;
    transition: 0.2s ease-in-out;
  }
  #copy {
    color: white;
    position: relative;
    top: -1215px;
    width: 100%;
    text-align: center;
    opacity: 50%;
  }
  #btnWSP {
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 25px;
    right: 25px;
    font-size: 65px;
    background-color: transparent;
    border: none;
    color: white;
    transition: 0.2s ease-in-out;
  }
  #btnWSP:hover {
    color: #128c7e;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
    transition: 0.2s ease-in-out;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  nav {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.644);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    z-index: 999;
  }
  nav img {
    height: 95%;
    margin: 0 0 0 25px;
  }
  #listNav {
    display: flex;
    margin: 0 25px 0 0;
  }
  #listNav a {
    color: white;
    padding: 25% 15px;
    font-size: 22px;
    transition: 0.2s ease-in-out;
  }
  #listNav a:hover {
    background-color: rgba(218, 165, 32, 0.8);
    transition: 0.2s ease-in-out;
  }
  #btnMenu {
    display: none;
  }
  #listNavMovil {
    display: none;
  }
  header {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: absolute;
  }
  #fondoHead {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  #logoHead {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #logoHead img {
    width: 500px;
  }
  main {
    width: 100%;
    overflow: hidden;
    height: 3050px;
    background-color: rgb(228, 228, 228);
    position: absolute;
    top: 600px;
  }
  #sectionWeb {
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0 0;
  }
  #sectionWeb h2 {
    color: black;
    font-size: 70px;
  }
  #sectionWeb p {
    color: black;
    font-size: 28px;
    text-align: center;
  }
  #cajaPaso {
    margin: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-row: auto;
    justify-content: center;
  }
  .cardsPasos {
    width: 300px;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cardsPasos img {
    width: 50%;
  }
  #paso1 {
    font-size: 26px !important;
    margin: 15px 0 0 0;
    color: goldenrod !important;
  }
  #paso2 {
    font-size: 26px !important;
    margin: 15px 0 0 0;
    color: #128c7e !important;
  }
  #paso3 {
    font-size: 26px !important;
    margin: 15px 0 0 0;
  }
  .cardsPasos p {
    margin: 15px 0 0 0;
    font-size: 22px !important;
  }
  #sectionProductos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #sectionProductos h2 {
    font-size: 45px;
  }
  #cajaProductos {
    margin: 50px 0 0 0;
    width: 100%;
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-row: auto;
    row-gap: 25px;
    justify-content: center;
    overflow: hidden;
  }
  .cardsProductos {
    width: 300px;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.644);
  }
  .cardsProductos img {
    width: 100%;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0 0 5px 0;
  }
  .cardsProductos button {
    padding: 5px 50px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid black;
    font-weight: bold;
    background-color: transparent;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
  .cardsProductos button:hover {
    background-color: rgba(218, 165, 32, 0.8);
    transition: 0.2s ease-in-out;
  }

  #comoRealizo {
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/359/815/642/herramientas-trabajo-utensilios-wallpaper-preview.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  #subRealizo {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #subRealizo h2 {
    color: white;
    font-size: 45px;
    margin: 0 0 50px 0;
  }
  #subRealizo p {
    color: white;
    font-size: 28px;
  }
  #subRealizo button {
    padding: 5px 50px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 24px;
    margin: 50px 0 0 0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  #subRealizo button:hover {
    background-color: white;
    color: black;
    transition: 0.2s ease-in-out;
  }

  #contacto {
    width: 100%;
    height: 700px;
    overflow: hidden;
  }
  #contacto img {
    width: 100%;
    height: 100%;
    filter: blur(1.4px);
  }
  #overlayContact {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
    top: -705px;
    opacity: 50%;
  }
  #contacto h2 {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 50px;
    margin: 45px 0 0 0;
    color: white;
    position: relative;
    top: -1400px;
  }
  #contenedorForm {
    width: 100%;
    height: 300px;
    position: relative;
    top: -1350px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #form {
    display: flex;
    flex-direction: column;
  }
  #from_name {
    width: 300px;
    height: 28px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px 0;
  }
  #email_id {
    width: 300px;
    height: 28px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px 0;
  }
  #from_models {
    width: 150px;
    height: 28px;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px 0;
    align-self: center;
  }
  #from_message {
    width: 300px;
    height: 150px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px 0;
    resize: none;
  }
  #btnForm {
    display: flex;
    justify-content: center;
  }
  #btnForm button {
    padding: 5px 15px;
    margin: 0 15px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  #btnForm button:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: 0.2s ease-in-out;
  }
  #btnForm input {
    padding: 5px 15px;
    margin: 0 15px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  #btnForm input:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: 0.2s ease-in-out;
  }
  #contenedorIcons {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -1250px;
  }
  #contenedorIcons a {
    color: white;
    font-size: 22px;
    margin: 0 10px;
    transition: 0.2s ease-in-out;
  }
  #copy {
    color: white;
    position: relative;
    top: -1215px;
    width: 100%;
    text-align: center;
    opacity: 50%;
  }
  #btnWSP {
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 25px;
    right: 25px;
    font-size: 65px;
    background-color: transparent;
    border: none;
    color: white;
    transition: 0.2s ease-in-out;
  }
  #btnWSP:hover {
    color: #128c7e;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
    transition: 0.2s ease-in-out;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  nav {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.644);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    z-index: 999;
  }
  nav img {
    height: 95%;
    margin: 0 0 0 25px;
  }
  #listNav {
    display: flex;
    margin: 0 25px 0 0;
  }
  #listNav a {
    color: white;
    padding: 25% 15px;
    font-size: 22px;
    transition: 0.2s ease-in-out;
  }
  #listNav a:hover {
    background-color: rgba(218, 165, 32, 0.8);
    transition: 0.2s ease-in-out;
  }
  #btnMenu {
    display: none;
  }
  #listNavMovil {
    display: none;
  }
  header {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: absolute;
  }
  #fondoHead {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  #logoHead {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #logoHead img {
    width: 500px;
  }
  main {
    width: 100%;
    overflow: hidden;
    height: 3050px;
    background-color: rgb(228, 228, 228);
    position: absolute;
    top: 600px;
  }
  #sectionWeb {
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0 0;
  }
  #sectionWeb h2 {
    color: black;
    font-size: 70px;
  }
  #sectionWeb p {
    color: black;
    font-size: 28px;
    text-align: center;
  }
  #cajaPaso {
    margin: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-row: auto;
    justify-content: center;
  }
  .cardsPasos {
    width: 300px;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cardsPasos img {
    width: 50%;
  }
  #paso1 {
    font-size: 26px !important;
    margin: 15px 0 0 0;
    color: goldenrod !important;
  }
  #paso2 {
    font-size: 26px !important;
    margin: 15px 0 0 0;
    color: #128c7e !important;
  }
  #paso3 {
    font-size: 26px !important;
    margin: 15px 0 0 0;
  }
  .cardsPasos p {
    margin: 15px 0 0 0;
    font-size: 22px !important;
  }
  #sectionProductos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #sectionProductos h2 {
    font-size: 45px;
  }
  #cajaProductos {
    margin: 50px 0 0 0;
    width: 100%;
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-row: auto;
    row-gap: 25px;
    justify-content: center;
    overflow: hidden;
  }
  .cardsProductos {
    width: 300px;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.644);
  }
  .cardsProductos img {
    width: 100%;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0 0 5px 0;
  }
  .cardsProductos button {
    padding: 5px 50px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid black;
    font-weight: bold;
    background-color: transparent;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
  .cardsProductos button:hover {
    background-color: rgba(218, 165, 32, 0.8);
    transition: 0.2s ease-in-out;
  }

  #comoRealizo {
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/359/815/642/herramientas-trabajo-utensilios-wallpaper-preview.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  #subRealizo {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #subRealizo h2 {
    color: white;
    font-size: 45px;
    margin: 0 0 50px 0;
  }
  #subRealizo p {
    color: white;
    font-size: 28px;
  }
  #subRealizo button {
    padding: 5px 50px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 24px;
    margin: 50px 0 0 0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  #subRealizo button:hover {
    background-color: white;
    color: black;
    transition: 0.2s ease-in-out;
  }

  #contacto {
    width: 100%;
    height: 700px;
    overflow: hidden;
  }
  #contacto img {
    width: 100%;
    height: 100%;
    filter: blur(1.4px);
  }
  #overlayContact {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
    top: -705px;
    opacity: 50%;
  }
  #contacto h2 {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 50px;
    margin: 45px 0 0 0;
    color: white;
    position: relative;
    top: -1400px;
  }
  #contenedorForm {
    width: 100%;
    height: 300px;
    position: relative;
    top: -1350px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #form {
    display: flex;
    flex-direction: column;
  }
  #from_name {
    width: 300px;
    height: 28px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px 0;
  }
  #email_id {
    width: 300px;
    height: 28px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px 0;
  }
  #from_models {
    width: 150px;
    height: 28px;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px 0;
    align-self: center;
  }
  #from_message {
    width: 300px;
    height: 150px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px 0;
    resize: none;
  }
  #btnForm {
    display: flex;
    justify-content: center;
  }
  #btnForm button {
    padding: 5px 15px;
    margin: 0 15px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  #btnForm button:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: 0.2s ease-in-out;
  }
  #btnForm input {
    padding: 5px 15px;
    margin: 0 15px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  #btnForm input:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: 0.2s ease-in-out;
  }
  #contenedorIcons {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -1250px;
  }
  #contenedorIcons a {
    color: white;
    font-size: 22px;
    margin: 0 10px;
    transition: 0.2s ease-in-out;
  }
  #copy {
    color: white;
    position: relative;
    top: -1215px;
    width: 100%;
    text-align: center;
    opacity: 50%;
  }
  #btnWSP {
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 25px;
    right: 25px;
    font-size: 65px;
    background-color: transparent;
    border: none;
    color: white;
    transition: 0.2s ease-in-out;
  }
  #btnWSP:hover {
    color: #128c7e;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
    transition: 0.2s ease-in-out;
  }
}
@media (min-width: 1441px) and (max-width: 2560px) {
  nav {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.644);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    z-index: 999;
  }
  nav img {
    height: 95%;
    margin: 0 0 0 25px;
  }
  #listNav {
    display: flex;
    margin: 0 25px 0 0;
  }
  #listNav a {
    color: white;
    padding: 25% 15px;
    font-size: 22px;
    transition: 0.2s ease-in-out;
  }
  #listNav a:hover {
    background-color: rgba(218, 165, 32, 0.8);
    transition: 0.2s ease-in-out;
  }
  #btnMenu {
    display: none;
  }
  #listNavMovil {
    display: none;
  }
  header {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: absolute;
  }
  #fondoHead {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  #logoHead {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #logoHead img {
    width: 500px;
  }
  main {
    width: 100%;
    overflow: hidden;
    height: 3050px;
    background-color: rgb(228, 228, 228);
    position: absolute;
    top: 600px;
  }
  #sectionWeb {
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0 0;
  }
  #sectionWeb h2 {
    color: black;
    font-size: 70px;
  }
  #sectionWeb p {
    color: black;
    font-size: 28px;
    text-align: center;
  }
  #cajaPaso {
    margin: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-row: auto;
    justify-content: center;
  }
  .cardsPasos {
    width: 300px;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cardsPasos img {
    width: 50%;
  }
  #paso1 {
    font-size: 26px !important;
    margin: 15px 0 0 0;
    color: goldenrod !important;
  }
  #paso2 {
    font-size: 26px !important;
    margin: 15px 0 0 0;
    color: #128c7e !important;
  }
  #paso3 {
    font-size: 26px !important;
    margin: 15px 0 0 0;
  }
  .cardsPasos p {
    margin: 15px 0 0 0;
    font-size: 22px !important;
  }
  #sectionProductos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #sectionProductos h2 {
    font-size: 45px;
  }
  #cajaProductos {
    margin: 50px 0 0 0;
    width: 100%;
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-row: auto;
    row-gap: 25px;
    justify-content: center;
    overflow: hidden;
  }
  .cardsProductos {
    width: 300px;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.644);
  }
  .cardsProductos img {
    width: 100%;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0 0 5px 0;
  }
  .cardsProductos button {
    padding: 5px 50px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid black;
    font-weight: bold;
    background-color: transparent;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
  .cardsProductos button:hover {
    background-color: rgba(218, 165, 32, 0.8);
    transition: 0.2s ease-in-out;
  }

  #comoRealizo {
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/359/815/642/herramientas-trabajo-utensilios-wallpaper-preview.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  #subRealizo {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #subRealizo h2 {
    color: white;
    font-size: 45px;
    margin: 0 0 50px 0;
  }
  #subRealizo p {
    color: white;
    font-size: 28px;
  }
  #subRealizo button {
    padding: 5px 50px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 24px;
    margin: 50px 0 0 0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  #subRealizo button:hover {
    background-color: white;
    color: black;
    transition: 0.2s ease-in-out;
  }

  #contacto {
    width: 100%;
    height: 700px;
    overflow: hidden;
  }
  #contacto img {
    width: 100%;
    height: 100%;
    filter: blur(1.4px);
  }
  #overlayContact {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
    top: -705px;
    opacity: 50%;
  }
  #contacto h2 {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 50px;
    margin: 45px 0 0 0;
    color: white;
    position: relative;
    top: -1400px;
  }
  #contenedorForm {
    width: 100%;
    height: 300px;
    position: relative;
    top: -1350px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #form {
    display: flex;
    flex-direction: column;
  }
  #from_name {
    width: 300px;
    height: 28px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px 0;
  }
  #email_id {
    width: 300px;
    height: 28px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px 0;
  }
  #from_models {
    width: 150px;
    height: 28px;
    border-radius: 8px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px 0;
    align-self: center;
  }
  #from_message {
    width: 300px;
    height: 150px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
    margin: 5px 0;
    resize: none;
  }
  #btnForm {
    display: flex;
    justify-content: center;
  }
  #btnForm button {
    padding: 5px 15px;
    margin: 0 15px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  #btnForm button:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: 0.2s ease-in-out;
  }
  #btnForm input {
    padding: 5px 15px;
    margin: 0 15px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  #btnForm input:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: 0.2s ease-in-out;
  }
  #contenedorIcons {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -1250px;
  }
  #contenedorIcons a {
    color: white;
    font-size: 22px;
    margin: 0 10px;
    transition: 0.2s ease-in-out;
  }
  #copy {
    color: white;
    position: relative;
    top: -1215px;
    width: 100%;
    text-align: center;
    opacity: 50%;
  }
  #btnWSP {
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 25px;
    right: 25px;
    font-size: 65px;
    background-color: transparent;
    border: none;
    color: white;
    transition: 0.2s ease-in-out;
  }
  #btnWSP:hover {
    color: #128c7e;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
    transition: 0.2s ease-in-out;
  }
}
